body{
  background: #FAFAFA;
  color: black;
  margin: 0;
}
a{
	color: inherit;
 	text-decoration: none;
}
ul,ol,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
p,dl,dd,h1,h2,h3{
  padding: 0;
	margin: 0;
}
textarea{
  padding: 0;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
*{
  box-sizing: border-box;
}
/*0000000000000000*/
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;  
   overflow: hidden;
}
body{
  font-size: 12px;
  line-height: 1.5;
}
/*.page{
  border: 1px solid red;
}
.list-wrapper,.upLoad>div{
  border: 1px solid red;
}
.upLoad,.upLoad>aside{
  border: 1px solid red;
}*/
section.topbar{
  background: #D43C33;
  height: 10vh;
  padding: 2.5vh;
}
section.topbar .logo>svg {
  height: 5vh;
  vertical-align: top;
}
.page{
  display: flex;
  height: 90vh;
}
.list-wrapper{
  min-width: 200px;
  background-color: #eee;
  border-right: 1px solid rgba(185, 175, 175, 0.55);  
}
.list-wrapper .songList-wrapper{
  background-color: #f5f5f7;
}
.list-wrapper .songList li{
  height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.list-wrapper .songList li>span{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-wrapper .songList li:nth-child(n){
  background-color: #fafafa;
}
.list-wrapper .songList li:nth-child(2n){
  background-color: #f5f5f7;
}
.list-wrapper .songList li:hover{
  background-color: #ebeced;
}
.list-wrapper .songList li.active{
  background-color: #d6d6d6;
}
.list-wrapper .songList{
  overflow: auto;
  height: 60vh;
}
.list-wrapper .songList::-webkit-scrollbar {
  width: 10px;
}

.list-wrapper .songList::-webkit-scrollbar-track {
  /*background-color: #e1e1e2;
*/}

.list-wrapper .songList::-webkit-scrollbar-thumb {
  background: #e1e1e2;
  border-radius: 2px;
}
.list-wrapper .songList .icon{
  min-width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
}
.list-wrapper .newSong{
  display: flex;
  height: 10vh;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
}
.list-wrapper .newSong.active{
  background-color: #d6d6d6;
  color: #c62f2f;
}
.list-wrapper .newSong:hover{
  cursor: pointer;
}
.list-wrapper .upLoad-wrapper{
  color: #c62f2f;
  height: 20vh;
  padding: 20px 20px;
  color: #c62f2f;
  background-color: #fafafa;
  border-top: 1px solid rgba(185, 175, 175, 0.55); 
}
.upLoad-wrapper{
  text-align: center;
}
.upLoad-wrapper #uploadButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #74767c9c;
  cursor: pointer;
  height: 15vh;
}
.songInfo-wrapper{
  flex: 1;
}
.songInfo-wrapper .songInfo{
  margin-left: 100px;
  margin-top: 70px;
  color: #333333;
}
.songInfo-wrapper .songInfo>form{
  font-size: 14px;
}
.songInfo-wrapper .songInfo>form>.row{
  padding: 10px;
  display: flex;
}
.songInfo-wrapper .songInfo>form>.row>label{
   width: 5em;
   margin-right: 10px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.songInfo-wrapper .songInfo>form>.row>input[type=text]{
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
.songInfo-wrapper .songInfo>form>.row>textarea{
  resize: none;
}
.songInfo-wrapper .songInfo>form>.row.action{
  margin-left: calc(5em + 10px);
}
/*.songInfo-wrapper .songInfo>form button{
  outline: none;
  border: 1px solid rgb(212, 60, 51);
  background-color: #fafafa;
  width: 100px;
  height: 35px;
  color: #D43C33;
  border-radius: 5px;
}*/
.songInfo-wrapper .songInfo>form button:hover{
  cursor: pointer;
}

.songInfo-wrapper .songInfo>form button.new{
  outline: none;
  width:110px;
  height: 40px;
  border:none;
  background-color: inherit;
}
.set_1_btn {
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  margin-right: 2em;
  text-align: center;
  max-width: 100px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
.set_1_btn:hover {
  text-decoration: none;
}

.Vbtn-3 {
  background:transparent;
  text-align: center;
  float:left;
    color: #D43C33;
}
.Vbtn-3 svg {
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.Vbtn-3 rect {
  fill: none;
  stroke: rgb(212, 60, 51);
  stroke-width: 3;
  stroke-dasharray: 422, 0;
  transition: all 0ms linear 0s;  
}
.Vbtn-3:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 100ms linear 0s;
}
.Vbtn-3:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 200;
  stroke-dashoffset: 38;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#loading-wrapper{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.6);
  position: fixed;
  top: 0;
  z-index: 1;
}
#loading-wrapper.active{
  display: block;
}
#loading-wrapper::before{
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(100,100,100,0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  animation: loading 1s infinite alternate-reverse;
  animation-timing-function: linear;
}
@keyframes loading{
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.1);
  }
}